/* Abdullah Elshebrawy: Main Button */
.main-btn {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  background-color: var(--main-color);
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--main-transition);
}
.main-btn:hover {
  background-color: var(--black-color);
}
/* Abdullah Elshebrawy: Main Heading */
.primary-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
}
.primary-heading h2 {
  font-size: 28px;
  font-weight: 500;
  color: #1e1e1e;
}
.primary-heading a {
  font-size: 13px;
  font-weight: 600;
  color: var(--main-color);
  text-transform: uppercase;
}
.primary-heading a:hover i {
  animation: move-arrow 0.4s backwards ease-in infinite;
}
@keyframes move-arrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px);
  }
}
/* Abdullah Elshebrawy: create socila-link */
ul.social-links {
  display: flex;
}
ul.social-links > li + li {
  margin-left: 10px;
}
ul.social-links a {
  display: inline-block;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  color: var(--black-color);
  transition: var(--main-transition);
}
ul.social-links a:hover {
  background-color: var(--main-color);
  color: #fff;
}
/* Abdullah Elshebrawy: create grid component */
.grid-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
@media (min-width: 768px) {
  .grid-3 {
    grid-template-columns: repeat(2 ,1fr)
  }
}
@media (min-width: 992px) {
  .grid-3 {
    grid-template-columns: repeat(3 ,1fr)
  }
}
