:root {
  --main-color: #f33f3f;
  --secondary-color: #1a6692;
  --text-color: #4a4a4a;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins' ,sans-serif;
}
img ,video {
  max-width: 100%;
}
ul{
  list-style: none;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}


#btnscrolltoTop{
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--main-color);
  border-color: var(--main-color);
  box-shadow: 0 0 10px #1d1d1d;
  color: rgb(0, 0, 0);
  outline: none;
  cursor: pointer;
  border: none;
}

#btnscrolltoTop:hover{
  background-color: white;
  border: 2px solid var(--main-color);
  cursor: pointer;
}

