.footer{
    text-align: center;
  }
  .footer .inner-content{
      border-top: 1px solid #eee;
      margin-top: 60px;
      padding: 60px 0px;
  }

  .footer .inner-content p span{
    font-weight: bold;
    color: #f33f3f;
  }